name: Deploy

on:
  push:
    tags:
      # - 'v[0-9]+.[0-9]+.[0-9]+'
      - "latest"
  workflow_dispatch:

concurrency:
  group: "prod-deploy"
  cancel-in-progress: false

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Ejecutar Deploy
        run: |
          echo "Deploy here for version ${GITHUB_REF_NAME}.."
